<p>
  <%= label_tag 'contacts[store_email]', t('store_email') %><br />
  <%= text_field_tag 'contacts[store_email]', Spree::Config[:store_email] %>
</p>
<p>
  <%= label_tag 'contacts[store_phone]', t('store_phone') %>:<br />
  <%= text_field_tag 'contacts[store_phone]', Spree::Config[:store_phone] %>
</p>
